body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #b44682;
}

a {
  text-decoration: none;
}

/* CONTAINER */
.main-container {
  width: 80%;
  margin: auto;
  height: 100vh;
}

/* HEADER */
header {
  height: 5vh;
  display: flex;
  background: #3e3f45;
}
.navbar {
  margin: auto;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  /* background-color: thistle; */
  padding: 5px;
}

.nav-item {
  font-family: Montserrat, san-serif;
  text-transform: uppercase;
  color: white;
}

.nav-item:hover {
  color: #fbefd2;
}

/* PROJECT LIST */
.project-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  align-items: center;
}

.project-list-item {
  text-align: center;
  padding: 10px;
  color: #fff;
  background-color: #4682b4;
}

/* PROJECT PAGE */
.project-container {
  width: 100%;
  height: 95vh;
  background-color: #fa8072; /* salmon */
  padding: 20px;
}

.project-container h1 {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  color: #fff;
}

/* STOPWATCH PROJECT */
.stopwatch-wrapper {
  display: flex;
  justify-content: center;
  background: yellow;
}
