@mixin pcolor($primary, $secondary) {
  $pcolor-primary: $primary;
  $pcolor-primary-dark: darken($primary, 20%);
  $pcolor-background: lighten($primary, 80%);
  $pcolor-secondary: $secondary;
}

.project-container {
  background: $color-background;
  @include boxShadow($color-white, 30%);
  padding-top: 15px;
  overflow: auto;
}

.project-header {
  font-weight: 500;
}

.project-wrapper {
  display: flex;
  flex-flow: column wrap;
  margin: 20px auto;
  padding: 30px;
  width: 50%;
  border-radius: 50px;
}

.btn {
  font-size: 1em;
  line-height: 1;
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
}

// project/index.html
#projects {
  background: #e9f1f3;
  .main-container-wrapper {
    margin: 0 auto;
    padding: 20px 0;
    width: 80%;
    height: 100%;
  }

  h1 {
    color: $color-highlight;
  }

  .project-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .project-list-item {
      flex: 1 0 200px;
      margin: 5px;
      padding: 75px 20px;
      font-size: 1.5em;
      text-align: center;
      @include linearGradient2(to right, #514a9d, #24c6dc);
      color: $color-light;

      border-radius: 5px;
      @include fadeIn;

      &:hover {
        @include linearGradient2(to left, darken(#514a9d, 20%), #24c6dc);
      }
    }
  }
}

#basic-counter {
  $pcolor-primary: #159099;
  $pcolor-secondary: #0052a7;
  $pcolor-primary-dark: darken($pcolor-primary, 15%);
  $pcolor-background: lighten($pcolor-primary, 80%);
  @include mainContainer(100%);

  .project-header {
    color: $pcolor-primary-dark;
  }
  .project-wrapper {
    border: 5px solid $pcolor-primary;
  }

  .btn-wrapper {
    display: flex;
  }

  .btn {
    flex: 30%;

    margin: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    @include linearGradient2(to right, $pcolor-secondary, $pcolor-primary);
    color: $color-light;
    border: 1px solid $pcolor-primary;
    font-size: 24px;

    &:hover {
      @include linearGradient2(to left, $pcolor-secondary, $pcolor-primary);
    }
  }

  lable {
    font-size: 60px;
    margin: 30px 5px;
    padding: 15px 75px;
    color: $pcolor-primary-dark;
    background-color: $pcolor-background;
    border-radius: 10px;
    border: 1px solid $pcolor-primary;
    text-align: center;
  }

  @include mediaQueryBelow("md") {
    .project-wrapper {
      width: 80%;
    }
  }

  @include mediaQueryBelow("xs") {
    .btn-wrapper {
      flex-direction: column;
    }
  }
}

#stopwatch {
  $pcolor-primary: #c94b4b;
  $pcolor-secondary: #4b134f;
  $pcolor-background: lighten($pcolor-primary, 75%);
  @include mainContainer(100%);

  .project-header {
    color: darken($pcolor-primary, 30%);
  }
  .project-wrapper {
    border: 5px solid $pcolor-primary;
    padding: 75px;
  }

  label {
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    font-size: 60px;
    text-align: center;
    background-color: $pcolor-background;
    border: 1px solid $pcolor-background;
  }

  .btn-wrapper {
    display: flex;
    margin-top: 20px;
    .btn {
      flex: 1 0 200px;
      margin: 5px;
      padding: 15px;
      border: 1px solid $pcolor-background;
      border-radius: 10px;
      font-size: 36px;
      @include linearGradient2(to left, $pcolor-primary, $pcolor-secondary);
      color: $pcolor-background;

      &:hover {
        @include linearGradient2(to right, $pcolor-primary, $pcolor-secondary);
      }
    }
  }

  @include mediaQueryBelow("lg") {
    .project-wrapper {
      width: 80%;
    }
  }

  @include mediaQueryBelow("sm") {
    .btn-wrapper {
      flex-direction: column;

      .btn {
        flex: 1 1 50px;
      }
    }
  }
}

#artists {
  $pcolor-primary: #313237;
  $pcolor-secondary: #4b134f;
  $pcolor-background: lighten($pcolor-primary, 75%);

  @include mainContainer(100%);
  padding: 0px;

  .banner-image {
    @include bannerImage(url(../images/artist/cover-elvis.jpg), 30vh);
    border-bottom: 15px solid $pcolor-primary;
  }

  .project-header {
    margin-top: 15px;
    color: $pcolor-secondary;
  }

  .artists-list-wrapper {
    width: 80%;
    margin: 20px auto;
    @include flexCenter;
    flex-wrap: wrap;

    .profile-image {
      margin: 5px;
      flex: 1 0 200px;
      min-height: 250px;
      border: 1px solid lighten($color: $pcolor-primary, $amount: 60%);
      border-radius: 3px;

      display: flex;
      align-items: flex-end;
      justify-content: center;

      .profile-image-header-wrapper {
        width: 100%;
        padding: 5px;
        background-color: $pcolor-primary;
        opacity: 0.5;
        margin: 0;

        .profile-image-header {
          text-align: center;
          overflow: hidden;
          font-size: 1.5em;
          color: $pcolor-background;
        }
      }
    }
  }
}

#artist-item {
  $pcolor-primary: #313237;
  $pcolor-secondary: #4b134f;
  $pcolor-background: lighten($pcolor-primary, 75%);

  @include mainContainer(100%);

  .project-header {
    color: lighten($pcolor-secondary, 10%);
  }
  .artist-bio-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;

    .artist-image {
      max-width: 250px;
      height: auto;
      @include imageBorder;
    }

    .artist-bio {
      flex: 1;
      margin-left: 20px;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  .artist-album-container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    .artist-album-wrapper {
      flex: 1 0 200px;
      text-align: center;
      margin: 5px;

      &:first-child {
        margin-left: 0px;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
    .album-title {
      overflow: hidden;
      padding: 5px;
      color: lighten($pcolor-secondary, 10%);
    }

    .album-image {
      @include imageBorder;
      width: 100%;
      height: auto;
      background-size: cover;
    }
  }

  @include mediaQueryBelow(sm) {
    .artist-bio-wrapper {
      flex-direction: column;
      align-items: center;

      .artist-bio {
        margin-top: 20px;
        margin-left: 0px;
      }
    }
  }
}

#todo-app {
  $pcolor-primary: #159099;
  $pcolor-secondary: #0052a7;
  $pcolor-primary-dark: darken($pcolor-primary, 15%);
  $pcolor-background: lighten(#ffeead, 15%);
  @include mainContainer(100%);

  .project-header {
    color: $pcolor-primary-dark;
  }
  .project-wrapper {
    margin-top: 10px;
    border: 5px solid $pcolor-primary;
    border-radius: 3px;
    padding: 0px;
    background: $pcolor-background;

    .output-wrapper {
      padding: 20px;

      .todo-item-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .todo-item {
          flex: 1 1 auto;
          color: $pcolor-primary-dark;
          background-color: $pcolor-background;
        }

        .todo-item,
        .btn {
          font-size: 1em;
          line-height: 1;
          margin: 5px;
          padding: 10px;
          border-radius: 3px;
          border: 1px solid $pcolor-primary;
          vertical-align: middle;
        }
        .btn-wrapper {
          display: flex;

          .btn {
            @include linearGradient2(
              to right,
              $pcolor-secondary,
              $pcolor-primary
            );
            color: $color-light;

            &:hover {
              @include linearGradient2(
                to left,
                $pcolor-secondary,
                $pcolor-primary
              );
            }
          }
        }
      }
    }

    .line-through {
      text-decoration: line-through;
    }

    .input-wrapper {
      padding: 20px;

      .input-label {
        margin: 5px;
        color: $pcolor-primary-dark;
      }
      .input-text {
        border-radius: 3px;
        border: 1px solid $pcolor-primary;
        width: 100%;
        margin: 5px;
        padding: 10px;
      }
    }
  }
}

.project-wrapper {
  display: flex;
  flex-flow: column wrap;
  margin: 20px auto;
  padding: 30px;
  width: 50%;
  border-radius: 50px;
}

#recipe-app {
  $pcolor-primary: #159099;
  $pcolor-secondary: #0052a7;
  $pcolor-primary-dark: darken($pcolor-primary, 15%);
  $pcolor-background: lighten(#ffeead, 15%);
  @include mainContainer(100%);

  font-family: $font-primary;

  .project-header {
    color: $pcolor-primary-dark;
  }
  .project-wrapper {
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;

    justify-content: center;

    .search-form {
      display: flex;
      margin: 10px 0;

      .search-text {
        flex: 1;
        margin: 0px;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid $pcolor-primary;
      }

      .search-btn {
        font-size: 1em;
        margin: 0px 5px 0px;
        padding: 10px;
        line-height: 1;
        border-radius: 3px;
        border: 1px solid $pcolor-primary;
        vertical-align: middle;
      }
    }

    .recipe-container {
      display: flex;
      flex-flow: row wrap;

      .recipe-item-wrapper {
        flex: 1 0 300px;
        overflow: auto;
        display: flex;
        flex-flow: column wrap;
        border-radius: 3px;
        background: $color-white;
        padding: 10px;
        margin: 5px;

        .recipe-calories {
          margin: 10px 0;
        }

        .recipe-link {
          align-self: center;
        }
        .recipe-image {
          margin: 5px;
          flex: 1 1 120px;

          border: 1px solid lighten($color: $pcolor-primary, $amount: 60%);
          border-radius: 3px;
        }

        .ingredient-wrapper {
          .ingredient-item {
            line-height: 1.5;
          }
        }
      }
    }
  }
}
