#projects {
  .main-container-wrapper {
    margin: 0 auto;
    padding: 20px 0;
    width: 80%;
    height: 100%;
  }

  h1 {
    color: $color-highlight;
  }

  .project-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .project-list-item {
      flex: 1 0 200px;
      margin: 5px;
      padding: 75px 20px;
      font-size: 1.5em;
      text-align: center;
      @include linearGradient2(to right, #514a9d, #24c6dc);
      color: $color-light;

      border-radius: 5px;
      @include fadeIn;

      &:hover {
        @include linearGradient2(to left, #514a9d, #24c6dc);
      }
    }
  }
}
