#basic-counter {
  label {
    font-size: 42px;
  }
}

#stopwatch {
  label,
  span {
    font-size: 42px;
  }
}

#recipe-app {
  .recipe-wrapper {
    margin-left: -0.25rem !important;
    margin-right: -0.25rem !important;

    .overflow-hidden {
      overflow: hidden;
    }
  }
}
