@import "project";
@import "game";

.kty-overflow-hidden {
  overflow: hidden;
}

* {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: "Montserrat", sans-serif;
  font-family: "Bree Serif", serif;
  color: #333;
}

a:hover {
  text-decoration: none;
}

.kty-brand-logo {
  font-family: "Bree Serif", serif;
  color: rgba(172, 13, 114, 0.945);
  letter-spacing: 0.3rem;
}
